<?xml version="1.0" encoding="utf-8" ?> 

<configuration> 

  <VapePI> 

    <environment>dev</environment> 

    <sellerUserId>1</sellerUserId> 

     <userTypeAdmin>1</userTypeAdmin> 

    <userTypeSeller>2</userTypeSeller> 

    <userTypeBuyer>3</userTypeBuyer>     

    <tokenSecret>super secret key</tokenSecret> 

    <tokenExpirationMin>10080</tokenExpirationMin> 

    <alg>HS512</alg> 

    <customDeliveryServiceId>1</customDeliveryServiceId> 
    
    <userService>https://warrior.shopdoora.com/auth/api/Auth/</userService>
    <deliveryService>https://warrior.shopdoora.com/delivery/api/Delivery/</deliveryService>   
    <memberPointService>https://warrior.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>
    <coreshopdoorapath>https://warrior.shopdoora.com/coreshopdoora_v2/api/</coreshopdoorapath>  

	  <!--<userService>http://dragon.shopdoora.com/auth/api/Auth/</userService>
	  <deliveryService>http://dragon.shopdoora.com/delivery/api/Delivery/</deliveryService>
	  <memberPointService>http://dragon.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>
	  <coreshopdoorapath>http://dragon.shopdoora.com/coreshopdoora/api/</coreshopdoorapath>
	  <dbConnection>Server=148.72.244.216;Database=Dev_VapePI;User Id=sa;Password=mhs@shopdoora2021</dbConnection>-->

   <!-- <userService>https://preps.shopdoora.com/auth/api/Auth/</userService>
	  <deliveryService>https://preps.shopdoora.com/delivery/api/Delivery/</deliveryService>
	  <memberPointService>https://preps.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>
	  <coreshopdoorapath>https://preps.shopdoora.com/coreshopdoora/api/</coreshopdoorapath>
	  <dbConnection>Server=148.72.244.216;Database=SIT_VapePI;User Id=sa;Password=mhs@shopdoora2021</dbConnection>-->

	  <!--<userService>https://VapePIapi.shopdoora.com/auth/api/Auth/</userService>  
	  <deliveryService>https://VapePIapi.shopdoora.com/delivery/api/Delivery/</deliveryService> 
    <memberPointService>https://VapePIapi.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>  
    <dbConnection>Server=148.72.244.216;Database=SIT_VapePI;User Id=sa;Password=mhs@shopdoora2021</dbConnection> -->

    <issuerSigningKey>true</issuerSigningKey> 

    <validateAudience>false</validateAudience> 

    <validateIssuer>true</validateIssuer> 

    <validateLifetime>true</validateLifetime> 

    <tokenIssuer>thihasoe</tokenIssuer> 

    <deliveryCount>2</deliveryCount> 

    <xmlFilePath>D:\Projects\VapePI</xmlFilePath>


    <applicationConfigId>57</applicationConfigId> 

     <!--<applicationConfigId>46</applicationConfigId>-->  
    
    <bestSellerDuration>7</bestSellerDuration>

    <orderStatus> 

      <order>1</order>        <!--မှာယူပြီး--> 

      <take>2</take>          <!--ထုတ်ပိုးပြီး--> 

      <sending>3</sending>    <!--ပို့နေသည်--> 

      <sent>4</sent>          <!--ပို့ပြီး--> 

      <cancel>5</cancel>      <!--ပယ်ဖျက်သည်--> 

    </orderStatus> 
    <platform>
      <android>1</android>
      <ios>2</ios>    
      <web>3</web>
    </platform>

    <lang>
      <unicode>unicode</unicode>
      <zawgyi>zawgyi</zawgyi> 
    </lang>

     <tax>
      <taxpayerId>435567676</taxpayerId>
      <commercialTax>0</commercialTax>
    </tax>

    <activityType>
      <search>1</search>
      <addToCart>2</addToCart>
      <removeFromCart>3</removeFromCart>
      <order>4</order>
      <orderCancel>5</orderCancel>
      <ip>6</ip>
      <active>7</active>
      <register>8</register>
      <makePayment>9</makePayment>
      <paymentStatus>10</paymentStatus>
      <orderStatus>11</orderStatus>
      <searchCategory>12</searchCategory>
      <addToWishList>13</addToWishList>
      <removeFromWishList>14</removeFromWishList>
    </activityType>

    <searchKeyword>
      <all>1</all>
      <withResult>2</withResult>
      <withoutResult>3</withoutResult>      
    </searchKeyword>

    <searchType> 

      <name>1</name>           <!--search by name--> 

      <category>2</category>   <!--search by category--> 

      <tag>3</tag>             <!--search by tag--> 

      <latest>4</latest>       <!--search with latest product--> 

      <promotion>5</promotion> <!--search with promotion product--> 
      
      <subCategory>6</subCategory> <!--search by sub category-->
       
      <bestSeller>7</bestSeller> <!--search by best seller product--> 
       
      <sku>8</sku> <!--search by product sku--> 
      <buy1get1>9</buy1get1> <!--search by buy1 get1--> 

    </searchType>

    <notiRedirectAction> 

      <orderDetail>GetOrderDetail</orderDetail> 
      <orderMessage>GetOrderMessage</orderMessage>

    </notiRedirectAction> 

    <aws> 

      <!-- <key>AKIASCOLVFXBEFTSVWME</key> 

      <secret>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</secret>  -->

      <key>AKIA3D37QKZSZL7VKRN6</key> 

      <secret>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</secret>

      <keyPath>sit/VapePI/images</keyPath>

      <productPath>product</productPath> 

      <orderPath>order</orderPath>
      <catalogPath>catalog</catalogPath>

      <bannerPath>banner</bannerPath> 
      <brandBannerPath>brand/banner</brandBannerPath>
      <brandLogoPath>brand/logo</brandLogoPath>

      <!-- <userProfilePath>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/auth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/VapePI/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted> -->

      <userProfilePath>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/sit/auth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/sit/VapePI/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted>
    </aws> 

    <smsMessages> 

      <apiKey>bgBrPuE4p6pfwEs-yHhPSuyYQrenX60YCAad3QKVcgN1K27Ser2gygI0TN9z_PxE</apiKey> 

      <sendPackageSenderStausSent>SendPackage-Sender-Sent</sendPackageSenderStausSent> 

      <sendPackageRecipientStatusSent>SendPackage-Recipient-Sent</sendPackageRecipientStatusSent> 

      <sendPackageRecipientStatusArrived>SendPackage-Recipient-Arrived</sendPackageRecipientStatusArrived> 

    </smsMessages> 

    <emailMessges> 

      <email>VapePI.myanmarhighsociety@gmail.com</email> 

      <password>Password@123</password> 

      <host>smtp.gmail.com</host> 

      <port>587</port> 

    </emailMessges> 

    <companyProfile> 

      <shopName>VapePI</shopName>

      <shopUrl>https://aws-mhsimages-bucket.s3.ap-southeast-1.amazonaws.com/sit/VapePI/images/logo/AppIcon.png</shopUrl>

      <shopAddress>Lay Daunt Kan Main Road, Cashmere Stop, Near Zawana, Thingangyun Tsp, Yangon</shopAddress>

      <phoneNo>09441544155</phoneNo>

      <facebookName>The Vape - PI</facebookName>

      <facebookId>https://www.facebook.com/VapePImyanmar/</facebookId>
      
      <messengerName>The Vape - PI</messengerName> 
      <messengerId> https://www.facebook.com/messages/t/1007462002683570</messengerId>

      <website>www.VapePI.com.mm</website> 
      
      <sharedLink>https://www.VapePI.com.mm/productdetails?productId=</sharedLink>
      
      <orderDetailUrl>https://www.VapePI.com.mm/orderdetail?id=</orderDetailUrl>

    </companyProfile>

	  <fcm>

		  <tokenKeyBuyer>AAAAQRZpY9g:APA91bGwZvICzluS-a3VP4rFB3evmdQ7iAsYN8gUzX9Th8-OZffI2BaOgOlMTJvOHaR1CwbkkAhTT_03GMy4zC5ZRrio9VcNWg_tgEa2DIhQKqU9V9QpRDTjb0vaP9MMgHK0rWvD1rrM</tokenKeyBuyer>

		  <senderIdBuyer>279548879832</senderIdBuyer>

		  <tokenKeySeller>AAAAxELXZj4:APA91bH4oM8S_8GjcmhYF4n80lcb2ayFv5wu9cEG9_ccKxfgeKJ98kxnN2HZp7GXdnKYCS0Chf-ANGFLwEXUYgwXUbUdsmFQrBCdm0XjaKi7eiKX_dXlwv3SKHHBnkFM33Mp_2aUSLl-</tokenKeySeller>

		  <senderIdSeller>842935002686</senderIdSeller>


		  <apkpuretokenKeyBuyer>AAAAo3VHEZU:APA91bHLxJXXqupJ4s5aoHICvyktQ5rEzRuPAn99tbq21u7y5YirmRFkzSSs3_eR-l6NZCbW6BtmFENF-5R4dk-gajhGoUSihCqpOejcvS4uKhsH5h7JO28qO1x3-qGTKfSfL8AtzTms</apkpuretokenKeyBuyer>

		  <apkpuresenderIdBuyer>702047261077</apkpuresenderIdBuyer>

	  </fcm>

	  <userToken>Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwidW5pcXVlX25hbWUiOiJzYWkgYXVuZyBtZWluIiwibmJmIjoxNTg5NTI5NzY4LCJleHAiOjE1OTAxMzQ1NjgsImlhdCI6MTU4OTUyOTc2OCwiaXNzIjoidGhpaGFzb2UifQ.2ccz8Gc39uhPt6ARmPkKG1EEJQgM0rKAMEog62Np7rgGTFmBguid3-FrO7dRiDT2AbMH7FX8D47XgDEN72mWbw</userToken> 

    <KBZGateway> 

      <notifyUrl>http://warrior.shopdoora.com/VapePI/api/Order/CallBackKPayNotify</notifyUrl> 

      <method>kbz.payment.precreate</method> 

      <sign_type>SHA256</sign_type> 

      <version>1.0</version> 

      <appid>kpdf56ba0af1dd455dafddf7ec54dc80</appid> 

      <key>VapePI@123456</key> 

      <merch_code>200228</merch_code> 

      <trade_type_mobile>APP</trade_type_mobile>  

      <trade_type_web>PWAAPP</trade_type_web> 

      <trans_currency>MMK</trans_currency> 

      <uri>http://api.kbzpay.com/payment/gateway/uat/precreate</uri> 
      <queryorderuri>http://api.kbzpay.com/payment/gateway/uat/queryorder</queryorderuri>
      <queryorderversion>3.0</queryorderversion>
      <queryordermethod>kbz.payment.queryorder</queryordermethod>
      <androidPackageName>com.kbzbank.kpaycustomer.uat</androidPackageName>
    </KBZGateway> 
    <WavePay>
      <uri>https://testpayments.wavemoney.io:8107/payment</uri>
      <merch_Id>shopdoorawmmmerchant</merch_Id>
      <key>3cbb9692625f2f87b7f0c31ad63cfc34ccb9f5b23fa60093750afd031ea2b45a</key>
      <frontend_url>http://qa.VapePI.com.mm/shoppingcart?platform=</frontend_url>
      <backend_url>https://api.shopdoora.com/maymayshop/api/Order/CheckWaveTransactionStatus</backend_url>
      <merch_name>VapePI</merch_name>
      <time_sec>300</time_sec>
      <authenticate_uri>https://testpayments.wavemoney.io:8107/authenticate?</authenticate_uri>
    </WavePay>

    <!--2c2p-->
    <tctppay>
      <paymentTokenuri>https://sandbox-pgw.2c2p.com/payment/4.1/paymentToken</paymentTokenuri>
      <paymentInquiryuri>https://sandbox-pgw.2c2p.com/payment/4.1/paymentInquiry</paymentInquiryuri>
      <merchantID>104104000000572</merchantID>
      <secretkey>1EB48AFB42F5524825B957F940FF4C8396EEEB0D8CF052B9F61952E4D0390D79</secretkey>
      <currency>MMK</currency>
      <locale>en</locale>
    </tctppay>

   <paymentService> 

      <waveMoney>1</waveMoney> 

      <kpay>2</kpay> 

      <okDollar>3</okDollar> 

      <master>4</master> 

      <bank>5</bank> 

      <visa>6</visa> 

      <cod>7</cod>    
      <mytelPay>8</mytelPay>    
      <saisaiPay>9</saisaiPay>    
      <cbPay>10</cbPay>    
      <ayaPay>11</ayaPay>    
      <onePay>12</onePay>    
      <waveMoney_manual>13</waveMoney_manual>    
      <kpay_manual>14</kpay_manual>    
      <okDollar_manual>15</okDollar_manual>    
      <master_manual>16</master_manual>    
      <visa_manual>17</visa_manual>    
      <mytelPay_manual>18</mytelPay_manual>    
      <saisaiPay_manual>19</saisaiPay_manual>    
      <cbPay_manual>20</cbPay_manual>    
      <ayaPay_manual>21</ayaPay_manual>    
      <onePay_manual>22</onePay_manual>
      <buywithpoint>23</buywithpoint>
     <tctpVisa>24</tctpVisa>
     <tctpMater>25</tctpMater>
     <tctJcb>26</tctJcb>
     <tctpOkayDollar>27</tctpOkayDollar>
     <tctpCBPayQR>28</tctpCBPayQR>
     <tctpKbzPayQR>29</tctpKbzPayQR>      
     <tctpMpu>30</tctpMpu>   
    </paymentService> 

    <paymentStatus> 

      <check>1</check>  

      <success>2</success> 

      <fail>3</fail> 

    </paymentStatus> 

     <!--logger-->
    <Logger>
      <token>eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiI0IiwidW5pcXVlX25hbWUiOiJNeVBldCIsImdyb3Vwc2lkIjoiNCIsIm5iZiI6MTY1NTE5NjE4MiwiZXhwIjoxOTcwNTU2MTgyLCJpYXQiOjE2NTUxOTYxODIsImlzcyI6InRoaWhhc29lIn0.rqaUiNIUoxIZSqrY9RKLdJ2J2TEM4ZjxPGdTB-cFet4xB0HPqobLlLw5dQztcN6NsM4UbA0t9W2bRU1Gnt544g</token>
      <loggerservice>http://log.shopdoora.com/api/Log/</loggerservice>
    </Logger>

  
  <membercard>
  <secretkey>e4e5f99deebfdf8f3d5619f9f655ab322965ae7055added33908400c73c075b9</secretkey>
  </membercard>
    <shopdooraphoneno>09450880003, 09450880003</shopdooraphoneno>
    
   <!--swagger login-->
    <swaggerauthService>http://swaggerauth.shopdoora.com/api/</swaggerauthService>

  </VapePI> 

</configuration> 