<?xml version="1.0" encoding="utf-8" ?> 

<configuration> 

  <CoreShopdoora> 

    <environment>dev</environment> 

    <sellerUserId>1</sellerUserId> 

     <userTypeAdmin>1</userTypeAdmin> 

    <userTypeSeller>2</userTypeSeller> 

    <userTypeBuyer>3</userTypeBuyer>     

    <tokenSecret>super secret key</tokenSecret> 

    <tokenExpirationMin>10080</tokenExpirationMin> 

    <alg>HS512</alg> 

    <customDeliveryServiceId>1</customDeliveryServiceId>

  <userService>http://preps.shopdoora.com/auth/api/Auth/</userService>
	  <deliveryService>http://preps.shopdoora.com/delivery/api/Delivery/</deliveryService>
	  <memberPointService>http://preps.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>

	  <!--<userService>https://warrior.shopdoora.com/auth/api/Auth/</userService>
	  <deliveryService>https://warrior.shopdoora.com/delivery/api/Delivery/</deliveryService>
	  <memberPointService>https://warrior.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>-->

	  <!--<userService>https://mypetapi.shopdoora.com/auth/api/Auth/</userService>
	  <deliveryService>https://mypetapi.shopdoora.com/delivery/api/Delivery/</deliveryService>
	  <memberPointService>https://mypetapi.shopdoora.com/memberpoint/api/MemberPoint/</memberPointService>-->

     
    <!-- <dbConnection>Server=shopdoora2021.cv0y95w1wmcg.ap-southeast-1.rds.amazonaws.com,1433;Database=SIT_CoreShopdoora;User Id=admin;Password=sysadmin789;MultipleActiveResultSets=True</dbConnection>   -->
    
    <!-- <dbConnection>Server=S148-72-244-216\SHOPDOORA2021,1433;Database=CoreShopdoora;User Id=sa;Password=mhs@shopdoora2021;MultipleActiveResultSets=True</dbConnection> -->

      <!--<dbConnection>Server=148.72.244.216;Database=SIT_CoreShopdoora;User Id=sa;Password=mhs@shopdoora2021</dbConnection>--> 

   <dbConnection>Server=148.72.244.216;Database=Dev_CoreShopdoora;User Id=sa;Password=mhs@shopdoora2021</dbConnection>

    <issuerSigningKey>true</issuerSigningKey> 

    <validateAudience>false</validateAudience> 

    <validateIssuer>true</validateIssuer> 

    <validateLifetime>true</validateLifetime> 

    <tokenIssuer>thihasoe</tokenIssuer> 

    <deliveryCount>2</deliveryCount> 

    <xmlFilePath>D:\Project_4\CoreShopdoora</xmlFilePath> 

    <applicationConfigId>36</applicationConfigId> 
    
    <bestSellerDuration>7</bestSellerDuration>

    <refreshTokenByte>128</refreshTokenByte> <!--added -->

    <orderStatus> 

      <order>1</order>        <!--မှာယူပြီး--> 

      <take>2</take>          <!--ထုတ်ပိုးပြီး--> 

      <sending>3</sending>    <!--ပို့နေသည်--> 

      <sent>4</sent>          <!--ပို့ပြီး--> 

      <cancel>5</cancel>      <!--ပယ်ဖျက်သည်--> 

      <adjustprice>6</adjustprice>  
      <fixedprice>7</fixedprice>
      <ordereditor>10</ordereditor>

    </orderStatus> 
    <platform>
      <android>1</android>
      <ios>2</ios>    
      <web>3</web>
    </platform>

    <lang>
      <unicode>unicode</unicode>
      <zawgyi>zawgyi</zawgyi> 
    </lang>

     <tax>
      <taxpayerId>435567676</taxpayerId>
      <commercialTax>0</commercialTax>
    </tax>

    <activityType>
      <search>1</search>
      <addToCart>2</addToCart>
      <removeFromCart>3</removeFromCart>
      <order>4</order>
      <orderCancel>5</orderCancel>
      <ip>6</ip>
      <active>7</active>
      <register>8</register>
      <makePayment>9</makePayment>
      <paymentStatus>10</paymentStatus>
      <orderStatus>11</orderStatus>
      <searchCategory>12</searchCategory>
      <addToWishList>13</addToWishList>
      <removeFromWishList>14</removeFromWishList>
    </activityType>

    <searchKeyword>
      <all>1</all>
      <withResult>2</withResult>
      <withoutResult>3</withoutResult>      
    </searchKeyword>

    <searchType> 

      <name>1</name>           <!--search by name--> 

      <category>2</category>   <!--search by category--> 

      <tag>3</tag>             <!--search by tag--> 

      <latest>4</latest>       <!--search with latest product--> 

      <promotion>5</promotion> <!--search with promotion product--> 
      
      <subCategory>6</subCategory> <!--search by sub category-->
       
      <bestSeller>7</bestSeller> <!--search by best seller product--> 
       
      <sku>8</sku> <!--search by product sku--> 
      <buy1get1>9</buy1get1> <!--search by buy1 get1--> 

    </searchType>

	  <notiRedirectAction>

		  <orderDetail>GetOrderDetail</orderDetail>
      <orderapproveprice>GetOrderConfirm</orderapproveprice>
		  <orderMessage>GetOrderMessage</orderMessage>

	  </notiRedirectAction>

	  <aws> 

      <!-- <key>AKIASCOLVFXBEFTSVWME</key> 

      <secret>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</secret>  -->

      <key>AKIA3D37QKZSZL7VKRN6</key> 

      <secret>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</secret>

      <keyPath>sit/CoreShopdoora/images</keyPath>

      <productPath>product</productPath> 

      <orderPath>order</orderPath>
      <catalogPath>catalog</catalogPath>

      <bannerPath>banner</bannerPath> 
      <brandBannerPath>brand/banner</brandBannerPath>
      <brandLogoPath>brand/logo</brandLogoPath>

      <!-- <userProfilePath>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/auth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/CoreShopdoora/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted> -->

      <userProfilePath>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/auth/images/user-profiles/</userProfilePath> 

      <imgStaticUrl>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/sit/CoreShopdoora/images/</imgStaticUrl> 
      
      <imgHosted>https://aws-mhsimages-bucket.s3-ap-southeast-1.amazonaws.com/</imgHosted>
    </aws> 

    <smsMessages> 

      <apiKey>bgBrPuE4p6pfwEs-yHhPSuyYQrenX60YCAad3QKVcgN1K27Ser2gygI0TN9z_PxE</apiKey> 

      <sendPackageSenderStausSent>SendPackage-Sender-Sent</sendPackageSenderStausSent> 

      <sendPackageRecipientStatusSent>SendPackage-Recipient-Sent</sendPackageRecipientStatusSent> 

      <sendPackageRecipientStatusArrived>SendPackage-Recipient-Arrived</sendPackageRecipientStatusArrived> 

    </smsMessages> 

    <emailMessges> 

      <email>CoreShopdoora.myanmarhighsociety@gmail.com</email> 

      <password>Password@123</password> 

      <host>smtp.gmail.com</host> 

      <port>587</port> 

    </emailMessges> 

    <companyProfile> 

      <shopName>CoreShopdoora</shopName>

      <shopUrl>https://aws-mhs-bucket.s3-ap-southeast-1.amazonaws.com/DefaultImage/AppLogo/CoreShopdoora_Logo.png</shopUrl>

      <shopAddress>22 St, between 81*82 AungMyayThazan, Mandalay, Myanmar.</shopAddress>

      <phoneNo>09797408858</phoneNo>
      <facebookName>My Page</facebookName>

      <facebookId>101563711723869</facebookId>
      
      <messengerName>My MyPet</messengerName> 
      <messengerId> https://www.facebook.com/messages/t/1007462002683570</messengerId>

      <website>www.CoreShopdoora.com.mm</website> 
      
      <sharedLink>https://www.CoreShopdoora.com.mm/productdetails?productId=</sharedLink>
      
      <orderDetailUrl>https://www.CoreShopdoora.com.mm/orderdetail?id=</orderDetailUrl>

    </companyProfile> 

    <fcm> 

      <tokenKeyBuyer>AAAAQRZpY9g:APA91bGwZvICzluS-a3VP4rFB3evmdQ7iAsYN8gUzX9Th8-OZffI2BaOgOlMTJvOHaR1CwbkkAhTT_03GMy4zC5ZRrio9VcNWg_tgEa2DIhQKqU9V9QpRDTjb0vaP9MMgHK0rWvD1rrM</tokenKeyBuyer> 

      <senderIdBuyer>279548879832</senderIdBuyer> 

      <tokenKeySeller>AAAAxELXZj4:APA91bH4oM8S_8GjcmhYF4n80lcb2ayFv5wu9cEG9_ccKxfgeKJ98kxnN2HZp7GXdnKYCS0Chf-ANGFLwEXUYgwXUbUdsmFQrBCdm0XjaKi7eiKX_dXlwv3SKHHBnkFM33Mp_2aUSLl-</tokenKeySeller> 

      <senderIdSeller>842935002686</senderIdSeller> 

    </fcm>  

    <userToken>Bearer eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwidW5pcXVlX25hbWUiOiJzYWkgYXVuZyBtZWluIiwibmJmIjoxNTg5NTI5NzY4LCJleHAiOjE1OTAxMzQ1NjgsImlhdCI6MTU4OTUyOTc2OCwiaXNzIjoidGhpaGFzb2UifQ.2ccz8Gc39uhPt6ARmPkKG1EEJQgM0rKAMEog62Np7rgGTFmBguid3-FrO7dRiDT2AbMH7FX8D47XgDEN72mWbw</userToken> 

    <KBZGateway> 

      <notifyUrl>https://api.shopdoora.com/CoreShopdoora/api/Order/CallBackKPayNotify</notifyUrl> 

      <method>kbz.payment.precreate</method> 

      <sign_type>SHA256</sign_type> 

      <version>1.0</version> 

      <appid>kp4e84c65e20c246cb95820aabe8da74</appid> 

      <key>29b5f3774842da037352ccea6d6f5232</key> 

      <merch_code>200104</merch_code> 

      <trade_type_mobile>APP</trade_type_mobile>  

      <trade_type_web>PWAAPP</trade_type_web> 

      <trans_currency>MMK</trans_currency> 

      <uri>http://api.kbzpay.com/payment/gateway/uat/precreate</uri> 
      <queryorderuri>http://api.kbzpay.com/payment/gateway/uat/queryorder</queryorderuri>
      <queryorderversion>3.0</queryorderversion>
      <queryordermethod>kbz.payment.queryorder</queryordermethod>
      <androidPackageName>com.kbzbank.kpaycustomer.uat</androidPackageName>
    </KBZGateway> 
    <WavePay>
      <uri>https://testpayments.wavemoney.io:8107/payment</uri>
      <merch_Id>shopdoorawmmmerchant</merch_Id>
      <key>3cbb9692625f2f87b7f0c31ad63cfc34ccb9f5b23fa60093750afd031ea2b45a</key>
      <frontend_url>http://qa.CoreShopdoora.com.mm/shoppingcart?platform=</frontend_url>
      <backend_url>https://api.shopdoora.com/maymayshop/api/Order/CheckWaveTransactionStatus</backend_url>
      <merch_name>CoreShopdoora</merch_name>
      <time_sec>300</time_sec>
      <authenticate_uri>https://testpayments.wavemoney.io:8107/authenticate?</authenticate_uri>
    </WavePay>

    <!--2c2p-->
    <tctppay>
      <paymentTokenuri>https://sandbox-pgw.2c2p.com/payment/4.1/paymentToken</paymentTokenuri>
      <paymentInquiryuri>https://sandbox-pgw.2c2p.com/payment/4.1/paymentInquiry</paymentInquiryuri>
      <merchantID>104104000000572</merchantID>
      <secretkey>1EB48AFB42F5524825B957F940FF4C8396EEEB0D8CF052B9F61952E4D0390D79</secretkey>
      <currency>MMK</currency>
      <locale>en</locale>
    </tctppay>

   <paymentService>

	   <waveMoney>1</waveMoney>

	   <kpay>2</kpay>

	   <okDollar>3</okDollar>

	   <master>4</master>

	   <bank>5</bank>

	   <visa>6</visa>

	   <cod>7</cod>
	   <mytelPay>8</mytelPay>
	   <saisaiPay>9</saisaiPay>
	   <cbPay>10</cbPay>
	   <ayaPay>11</ayaPay>
	   <onePay>12</onePay>
	   <waveMoney_manual>13</waveMoney_manual>
	   <kpay_manual>14</kpay_manual>
	   <okDollar_manual>15</okDollar_manual>
	   <master_manual>16</master_manual>
	   <visa_manual>17</visa_manual>
	   <mytelPay_manual>18</mytelPay_manual>
	   <saisaiPay_manual>19</saisaiPay_manual>
	   <cbPay_manual>20</cbPay_manual>
	   <ayaPay_manual>21</ayaPay_manual>
	   <onePay_manual>22</onePay_manual>
	   <buywithpoint>23</buywithpoint>
	   <tctpVisa>24</tctpVisa>
	   <tctpMater>25</tctpMater>
	   <tctJcb>26</tctJcb>
	   <tctpOkayDollar>27</tctpOkayDollar>
	   <tctpCBPayQR>28</tctpCBPayQR>
	   <tctpKbzPayQR>29</tctpKbzPayQR>
	   <tctpMpu>30</tctpMpu>
	   <pickup>31</pickup>
	   <ayaMpu>32</ayaMpu>
	   <!--<ayaVMJ>33</ayaVMJ>-->
	   <ayaJcb>33</ayaJcb>
	   <ayaVisa>34</ayaVisa>
	   <ayaMaster>35</ayaMaster>
     
    </paymentService> 

    <paymentStatus> 

      <check>1</check>  

      <success>2</success> 

      <fail>3</fail> 

    </paymentStatus> 

    <!--CoreShopdoora api-->
    <appconfigId>
      <appstudio>4</appstudio>
      <miemieplant>34</miemieplant>
      <mypage>36</mypage>
      <mypet>45</mypet>
      <itbaby>3</itbaby>
      <shuya>42</shuya>
      <nhl>23</nhl>
      <vistramyanmar>32</vistramyanmar>
      <maymayshop>6</maymayshop>
      <myancar>35</myancar>
      <albee>38</albee>
      <tyre78>14</tyre78>
      <medicalworld>13</medicalworld>
      <kkagold>5</kkagold>
      <skinfood>15</skinfood>
      <borazi>7</borazi>
      <pyinnyarchun>12</pyinnyarchun>
      <mandalayfootwear>26</mandalayfootwear>
      <ckf>21</ckf>
      <yuniestore>44</yuniestore>
      <vjv>9</vjv>
      <mylittletoes>18</mylittletoes>
      <boeain>37</boeain>
      <queenofdreamer>24</queenofdreamer>
      <unyilay>17</unyilay>
      <twobabiesflagshipstore>39</twobabiesflagshipstore>
      <hibaby>20</hibaby>
      <ngweohh>27</ngweohh>

      <arteriorsfurniture>28</arteriorsfurniture>
      <innocentbaby>8</innocentbaby>
      <tandh>10</tandh>
      <thehouse>11</thehouse>
      <ovigle>22</ovigle>
      <dwm>29</dwm>
		<demo>55</demo>
		<demo3>56</demo3>
    </appconfigId>

    <currentAppconfigId>1</currentAppconfigId>

	  <multidbconnection>
		  <appstudio>Server=148.72.244.216;Database=SIT_AppStudio;User Id=sa;Password=mhs@shopdoora2021</appstudio>
		  <miemieplant>Server=148.72.244.216;Database=SIT_MieMiePlant;User Id=sa;Password=mhs@shopdoora2021</miemieplant>
		  <mypage>Server=148.72.244.216;Database=SIT_MyPage;User Id=sa;Password=mhs@shopdoora2021</mypage>
		  <mypet>Server=148.72.244.216;Database=UAT_MyPet;User Id=sa;Password=mhs@shopdoora2021</mypet>
		  <itbaby>Server=148.72.244.216;Database=SIT_ITBaby;User Id=sa;Password=mhs@shopdoora2021</itbaby>
		  <shuya>Server=148.72.244.216;Database=dev_Shuya;User Id=sa;Password=mhs@shopdoora2021</shuya>
		  <nhl>Server=148.72.244.216;Database=SIT_NHL;User Id=sa;Password=mhs@shopdoora2021</nhl>
		  <vistramyanmar>Server=148.72.244.216;Database=DEV_VistraMyanmar;User Id=sa;Password=mhs@shopdoora2021</vistramyanmar>
		  <maymayshop>Server=148.72.244.216;Database=SIT_MayMayShop;User Id=sa;Password=mhs@shopdoora2021</maymayshop>
		  <myancar>Server=148.72.244.216;Database=SIT_MyanCar;User Id=sa;Password=mhs@shopdoora2021</myancar>
		  <albee>Server=148.72.244.216;Database=DEV_Albee;User Id=sa;Password=mhs@shopdoora2021</albee>
		  <tyre78>Server=148.72.244.216;Database=SIT_Tyre78;User Id=sa;Password=mhs@shopdoora2021</tyre78>
		  <medicalworld>Server=148.72.244.216;Database=SIT_MedicalWorld;User Id=sa;Password=mhs@shopdoora2021</medicalworld>
		  <kkagold>Server=148.72.244.216;Database=dev_KKAGold;User Id=sa;Password=mhs@shopdoora2021</kkagold>
		  <skinfood>Server=148.72.244.216;Database=SIT_SkinFood;User Id=sa;Password=mhs@shopdoora2021</skinfood>

		  <borazi>Server=148.72.244.216;Database=SIT_Borazi;User Id=sa;Password=mhs@shopdoora2021</borazi>
		  <pyinnyarchun>Server=148.72.244.216;Database=SIT_PyinNyarChun;User Id=sa;Password=mhs@shopdoora2021</pyinnyarchun>
		  <mandalayfootwear>Server=148.72.244.216;Database=SIT_MandalayFootwear;User Id=sa;Password=mhs@shopdoora2021</mandalayfootwear>
		  <ckf>Server=148.72.244.216;Database=SIT_CKF;User Id=sa;Password=mhs@shopdoora2021</ckf>
		  <yuniestore>Server=148.72.244.216;Database=SIT_YuniEStore;User Id=sa;Password=mhs@shopdoora2021</yuniestore>
		  <vjv>Server=148.72.244.216;Database=SIT_VJV;User Id=sa;Password=mhs@shopdoora2021</vjv>
		  <mylittletoes>Server=148.72.244.216;Database=SIT_MyLittleToes;User Id=sa;Password=mhs@shopdoora2021</mylittletoes>
		  <boeain>Server=148.72.244.216;Database=SIT_BoEain;User Id=sa;Password=mhs@shopdoora2021</boeain>
		  <queenofdreamer>Server=148.72.244.216;Database=SIT_QueenOfDreamer;User Id=sa;Password=mhs@shopdoora2021</queenofdreamer>
		  <unyilay>Server=148.72.244.216;Database=SIT_UNyiLay;User Id=sa;Password=mhs@shopdoora2021</unyilay>
		  <twobabiesflagshipstore>Server=148.72.244.216;Database=SIT_TwoBabiesFlagshipStore;User Id=sa;Password=mhs@shopdoora2021</twobabiesflagshipstore>
		  <hibaby>Server=148.72.244.216;Database=SIT_HiBaby;User Id=sa;Password=mhs@shopdoora2021</hibaby>
		  <ngweohh>Server=148.72.244.216;Database=SIT_NgweOhh;User Id=sa;Password=mhs@shopdoora2021</ngweohh>

		  <arteriorsfurniture>Server=148.72.244.216;Database=SIT_ArteriorsFurniture;User Id=sa;Password=mhs@shopdoora2021</arteriorsfurniture>
		  <innocentbaby>Server=148.72.244.216;Database=SIT_InnocentBaby;User Id=sa;Password=mhs@shopdoora2021</innocentbaby>
		  <tandh>Server=148.72.244.216;Database=SIT_TandH;User Id=sa;Password=mhs@shopdoora2021</tandh>
		  <thehouse>Server=148.72.244.216;Database=SIT_TheHouse;User Id=sa;Password=mhs@shopdoora2021</thehouse>
		  <ovigle>Server=148.72.244.216;Database=SIT_Ovigle;User Id=sa;Password=mhs@shopdoora2021</ovigle>
		  <dwm>Server=148.72.244.216;Database=SIT_DWM;User Id=sa;Password=mhs@shopdoora2021</dwm>
		  <demo>Server=148.72.244.216;Database=SIT_DEMO;User Id=sa;Password=mhs@shopdoora2021</demo>
		  <demo3>Server=148.72.244.216;Database=SIT_DEMO3;User Id=sa;Password=mhs@shopdoora2021</demo3>
	  </multidbconnection>

    <orderdetailpath>
      <appstudio>https://appstudio.shopdoora.com/orderdetail?id=</appstudio>
      <miemieplant>https://miemieplant.shopdoora.com/orderdetail?id=</miemieplant>
      <mypage>https://mypage.shopdoora.com/orderdetail?id=</mypage>
      <mypet>https://mypetmm.com/orderdetail?id=</mypet>
      <itbaby>https://itbaby.shopdoora.com/orderdetail?id=</itbaby>
      <shuya>https://futuremall.com.mm/orderdetail?id=</shuya>
      <nhl>https://nhl.shopdoora.com/orderdetail?id=</nhl>
      <vistramyanmar>https://vistramyanmar.shopdoora.com/orderdetail?id=</vistramyanmar>
      <maymayshop>https://maymayshop.shopdoora.com/orderdetail?id=</maymayshop>
      <myancar>https://myancar.shopdoora.com/orderdetail?id=</myancar>
      <albee>https://albee.shopdoora.com/orderdetail?id=</albee>
      <tyre78>https://tyre78.shopdoora.com/orderdetail/</tyre78>
      <medicalworld>https://medicalworld.shopdoora.com/orderdetail?id=</medicalworld>
      <kkagold>https://kkagold.shopdoora.com/orderdetail?id=</kkagold>
      <skinfood>https://skinfood.shopdoora.com/orderdetail?id=</skinfood>
      <borazi>https://borazi.shopdoora.com/orderdetail?id=</borazi>
      <pyinnyarchun>https://pyinnyarchun.shopdoora.com/orderdetail?id=</pyinnyarchun>
      <mandalayfootwear>https://mandalayfootwear.shopdoora.com/orderdetail?id=</mandalayfootwear>
      <ckf>https://ckf.shopdoora.com/orderdetail?id=</ckf>
      <yuniestore>https://yuniestore.shopdoora.com/orderdetail?id=</yuniestore>
      <vjv>https://vjv.shopdoora.com/orderdetail?id=</vjv>
      <mylittletoes>https://mylittletoes.shopdoora.com/orderdetail?id=</mylittletoes>
      <boeain>https://boeain.shopdoora.com/orderdetail?id=</boeain>
      <queenofdreamer>https://queenofdreamer.shopdoora.com/orderdetail?id=</queenofdreamer>
      <unyilay>https://unyilay.shopdoora.com/orderdetail?id=</unyilay>
      <twobabiesflagshipstore>https://twobabiesflagshipstore.shopdoora.com/orderdetail?id=</twobabiesflagshipstore>
      <hibaby>https://hibaby.shopdoora.com/orderdetail?id=</hibaby>
      <ngweohh>https://ngweohh.shopdoora.com/orderdetail?id=</ngweohh>

      <arteriorsfurniture>https://arteriors.shopdoora.com/orderdetail?id=</arteriorsfurniture>
      <innocentbaby>https://innocentbaby.shopdoora.com/orderdetail?id=</innocentbaby>
      <tandh>https://tandh.shopdoora.com/orderdetail?id=</tandh>
      <thehouse>https://thehouse.shopdoora.com/orderdetail?id=</thehouse>
      <ovigle>https://ovigle.shopdoora.com/orderdetail?id=</ovigle>
      <dwm>https://dwm.shopdoora.com/orderdetail?id=</dwm>
    </orderdetailpath>

    <!--swagger login-->
    <swaggerauthService>http://swaggerauth.shopdoora.com/api/</swaggerauthService>

  </CoreShopdoora> 

</configuration> 